<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Forbidden</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div class="container">
    <h1>403 Forbidden</h1>
    <p>У вас нет доступа к этой странице.</p>
    <p>Если вы считаете, что это ошибка, свяжитесь с администратором сайта.</p>
    <p><a href="/">Вернуться на главную страницу</a></p>
</div>

</body>
</html>
