<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPCITIES</title>
    <link rel="stylesheet" href="../static/style.css">
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
<script src="../static/index.js" type="text/babel"></script>
<div class="container" id="app" is-authed={{ is_authed }}>
    <div class="header">
        {% if is_authed %}
            <div class="user-profile">
                <a href="https://github.com/yankochur" class="btn-login">Пригласить бота</a>
                <a href="/users/{{ uuid }}" class="btn-login">Профиль</a>
                <a onclick="deleteCookieAndReload('Authorization')" class="btn-login">Выйти</a>
                <div class="user-profile-image">
                    <img src="https://visage.surgeplay.com/face/512/{{ name }}" alt="Your Image">
                </div>
            </div>
        {% else %}
            <div class="user-profile">
                <a href="https://github.com/yankochur" class="btn-login">Пригласить бота</a>
                <a href="/login" class="btn-login">Войти</a>
            </div>
        {% endif %}
    </div>
    {% if is_authed %}
        <h1>https://t.me/lairofquaks</h1>
        <h1>https://t.me/lairofquaks</h1>
        <h1>https://t.me/lairofquaks</h1>
        <h1>https://t.me/lairofquaks</h1>
        <h1>https://t.me/lairofquaks</h1>
        <h1>https://t.me/lairofquaks</h1>
        <h1>Добро пожаловать, {{ name }}</h1>
        <p>Как дела?</p>
    {% else %}
        <h1>Добро пожаловать</h1>
        <p>Войдите, чтобы начать работу с сайтом</p>
    {% endif %}
</div>

<script>
    function deleteCookieAndReload(cookieName) {
        document.cookie = cookieName + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        location.reload();
        console.log({{ is_authed }})
    }
</script>

</body>
</html>
